[run]
source =
    upfronts
    app

omit =
    venv/*
    env/*
    */test*
    settings/*
    */migrations*
    */apps.py
    */wsgi.py
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
