certifi==2019.6.16
chardet==3.0.4
coverage==4.5.4
defusedxml==0.6.0
Django==1.11.24
entrypoints==0.3
flake8==3.7.8
idna==2.8
mccabe==0.6.1
oauthlib==3.1.0
pep8==1.7.1
pycodestyle==2.5.0
pyflakes==2.1.1
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
urllib3==1.25.3
