{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/contract_table.css' %}">
    {{ block.super }}
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/add_contracts.js' %}"></script>
{% endblock %}

{% block title %} Add contract {% endblock title %}

{% block content %}
    <div class='p-3'>
        {% if message %}
            <div class="alert alert-danger alert-message" role="alert">
                {{message}}
            </div>
        {% endif %}
        <div>
            <div class="m-2">
                <h1>Search cases</h1>
            </div>
            <form>
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-2">
                        <input class="form-control" type="text" placeholder="Enter case numbers" name="case_numbers">
                    </div>
                    <div class="col-2">
                        <input id="datepicker_from" placeholder="From" name="case_date_from">
                    </div>
                    <div class="col-2">
                        <input id="datepicker_to" placeholder="To" name="case_date_to">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary datep"><i class="fab fa-sistrix"></i></button>
                    </div>
                </div>
            </form>
            <div class="m-4">
                {% if table %}
                    {% render_table table %}
                {% endif %}
            </div>
        </div>
            <div class="float-left">
                <a href="{% url 'contracts' %}" role="button" class="btn btn-outline-secondary"><i class="far fa-arrow-alt-circle-left"></i>  Back</a>
            </div>
    </div>
{% endblock content %}