{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %} Upfronts {% endblock title %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="../../static/css/contract_table.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        <title>Add Installment</title>

    </head>
    <body>
        <div class='p-3'>
            {% if message %}
                <br>
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endif %}
            <div>
                <div class="m-2">
                    <h1>Search cases</h1>
                </div>
                
                <div>
                    <form action="">
                        <div class="row">
                            <input class="mr-sm-2" type="text" placeholder="Enter case numbers" name="case_numbers">
                            <input id="datepicker_from" width="276" placeholder="From" name="case_date_from">
                            <input id="datepicker_to" width="276" placeholder="To" name="case_date_to">
                            <button type="submit" class="btn btn-primary datep"><i class="fab fa-sistrix"></i></button>
                        </div>
                    </form>
                </div>
                    {% if table %}
                    <br>
                    {% render_table table %}
                    {% endif %}
                    
                </div>
                <div class="float-left">
                    <a href="{% url 'contracts' %}" role="button" class="btn btn-outline-primary"><i class="far fa-arrow-alt-circle-left"></i>  Back</a>
                </div>
        </div>        
        <script>
            $('#datepicker_from').datepicker({
                uiLibrary: 'bootstrap4',
            });
        </script>
        <script>
            $('#datepicker_to').datepicker({
                uiLibrary: 'bootstrap4',
            });
        </script>
    </body>
</html>
{% endblock content %}