{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% load staticfiles %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/contract_table.css' %}">
    {{ block.super }}
{% endblock %}

{% block title %} Contracts {% endblock title %}
{% block content %}

<div class='p-3'>
    <div>
        <div class="m-2">
            <h1>Contracts</h1>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-primary"><i class="fas fa-sync"></i></button>
        </div>
        {% if filter %}
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button '<i class="fab fa-sistrix"></i>' %}
            </form>
        {% endif %}
    </div>
    <div class="mt-4">
        {% render_table table %}
    </div>
    <div class="float-right">
        <a href="{% url 'contracts-add' %}" role="button" class="btn btn-outline-primary">ADD <i class="fas fa-plus"></i></a>
    </div>
</div>
<script>
$( function() {
    $( "#datepicker" ).datepicker();
} );
</script>
{% endblock content %}