{% extends 'base.html' %}
<html>
    <head>
        <link rel="stylesheet" href="uf_table.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title>Table</title>

    </head>
    <body>
        <div class='p-3'>
            <h1>Cases</h1>
            
            <button class="btn btn-outline-danger"><span>LOGOUT </span></button>
            <div>
                <div class="float-right">
                    <button type="button" class="btn btn-primary">Refresh</button>
                </div>
                <input type="text" placeholder="Filter">
            </div>
            <div>
                <br><table class="table table-hover" style="text-align:center">
                    <thead>
                        <th>Recoupable</th>
                        <th>Status</th>
                        <th>Organizer</th>
                        <th>Account Name</th>
                        <th>Email</th>
                        <th>U Projection</th>
                        <th>Signed Date</th>
                        <th>Payment Date</th>
                        <th>Payment Date</th>
                        <th>Recoup Amount</th>
                        <th>GTS</th>
                        <th>GTF</th>
                    </thead>
                    <tr>
                        <td>Yes</td>
                        <td>Approved</td>
                        <td>Me</td>
                        <td>juampi.walter.agustin@upfronts.com</td>
                        <td>$10000</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>$10000</td>
                        <td>$10000</td>
                        <td>$700</td>
                    </tr>
                    <tr>
                        <td>Yes</td>
                        <td>Approved</td>
                        <td>Me</td>
                        <td>juampi.walter.agustin@upfronts.com</td>
                        <td>$10000</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>$10000</td>
                        <td>$10000</td>
                        <td>$700</td>
                    </tr>
                    <tr>
                        <td>Yes</td>
                        <td>Approved</td>
                        <td>Me</td>
                        <td>juampi.walter.agustin@upfronts.com</td>
                        <td>$10000</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>$10000</td>
                        <td>$10000</td>
                        <td>$700</td>
                    </tr>
                    <tr>
                        <td>Yes</td>
                        <td>Approved</td>
                        <td>Me</td>
                        <td>juampi.walter.agustin@upfronts.com</td>
                        <td>$10000</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>1/1/1999</td>
                        <td>$10000</td>
                        <td>$10000</td>
                        <td>$700</td>
                    </tr>
                </table>
            </div>
            <div class="float-right">
                <button type="button" class="btn btn-outline-primary">ADD</button>
                <button type="button" class="btn btn-outline-success">Export to CSV</button>
                <div class="float-right">
                    <div class="dropdown">
                        <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">
                            Export to
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">CSV</a>
                            <a class="dropdown-item disabled" href="#">Excel (WIP)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>