<!DOCTYPE html>
{% load bootstrap4 %}
{% load staticfiles %}
{% bootstrap_css %}
<!-- CSS CUSTOM -->
<link rel="stylesheet" type="text/css" href="{% static 'css\css.css' %}">

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %} - Upfronts</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top color-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">Eventbrite - Upfronts</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock content %}
</body>
</html>
